services:
  grafana:
    image: grafana/grafana:latest
    depends_on:
      - influxdb
    ports:
      - 3000:3000
    environment:
      - GF_SECURITY_ADMIN_USER=${GRAFANA_USER:-admin}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_PASSWORD:-grafana}
    restart: unless-stopped
    networks:
      - grafana

  influxdb:
    image: influxdb:3-core
    container_name: influxdb
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    ports:
      - 8181:8181
    volumes:
      - type: bind
        source: ~/.influxdb3/core/data
        target: /var/lib/influxdb3/data
      - type: bind
        source: ~/.influxdb3/core/plugins
        target: /var/lib/influxdb3/plugins
    restart: unless-stopped
    networks:
      - grafana

  octopus-tracker:
    build: .
    container_name: octopus-tracker
    depends_on:
      - influxdb
    environment:
      - OCTOPUS_USER=${OCTOPUS_USER}
      - OCTOPUS_PASS=${OCTOPUS_PASS}
      - OCTOPUS_PROPERTY_ID=${OCTOPUS_PROPERTY_ID}
      - ACCOUNT_ID=${ACCOUNT_ID}
      - INFLUX_HOST=http://influxdb:8181
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_DB=${INFLUX_DB:-octopus}
      - LOAD_FREQUENCY_HOURS=${LOAD_FREQUENCY_HOURS:-6}
      - DAYS_OFFSET_LOAD=${DAYS_OFFSET_LOAD:-0}
      - BILLED_POWER=${BILLED_POWER:-3.5}
      - TZ=${TZ:-Europe/Madrid}
    restart: unless-stopped
    networks:
      - grafana

networks:
  grafana:
    external: true