version: '3.8'



services:
  influxdb-init:
      image: alpine:latest
      container_name: influxdb-init
      # Ejecutamos como root para poder cambiar el dueño
      user: root
      # Cambiamos el dueño de la carpeta al usuario 1000 (influxdb)
      command: sh -c "chmod -R 777 /var/lib/influxdb3/data /var/lib/influxdb3/plugins && echo '✅ Permisos 777 aplicados'"
      volumes:
        - influx_data:/var/lib/influxdb3/data
        - influx_plugins:/var/lib/influxdb3/plugins

  influxdb:
    image: influxdb:3-core
    container_name: influxdb
    command:
      - influxdb3
      - serve
      - --node-id=node0
      - --object-store=file
      - --data-dir=/var/lib/influxdb3/data
      - --plugin-dir=/var/lib/influxdb3/plugins
    ports:
      - "9080:8181"
    volumes:
      - influx_data:/var/lib/influxdb3/data
      - influx_plugins:/var/lib/influxdb3/plugins
    restart: unless-stopped
    depends_on:
      influxdb-init:
        condition: service_completed_successfully


  grafana:
    image: grafana/grafana-oss:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana

  octopus-tracker:
    image: octopus-tracker:1.0.12
    pull_policy: never
    container_name: octopus-tracker
    depends_on:
      - influxdb
    environment:
      - OCTOPUS_USER=${OCTOPUS_USER}
      - OCTOPUS_PASS=${OCTOPUS_PASS}
      - OCTOPUS_PROPERTY_ID=${OCTOPUS_PROPERTY_ID}
      - ACCOUNT_ID=${ACCOUNT_ID}
      - INFLUX_HOST=http://influxdb:8181
      - INFLUX_TOKEN=${INFLUX_TOKEN}
      - INFLUX_DB=${INFLUX_DB:-octopus}
      - LOAD_FREQUENCY_HOURS=${LOAD_FREQUENCY_HOURS:-6}
      - DAYS_OFFSET_LOAD=${DAYS_OFFSET_LOAD:-16}
      - BILLED_POWER=${BILLED_POWER:-4.4}
      - TZ=${TZ:-Europe/Madrid}
      - RESET_DB_ON_STARTUP=false
    restart: unless-stopped

volumes:
  grafana_data:
  influx_data:
  influx_plugins: